.occupy-screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.court-container {
  display: flex;
}

.court-container div {
  margin-left: 2%;
}

.court-container div button {
  margin-top: 10px;
}

.screencontainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 350px;
  width: 13%;
  padding: 2px;
}

.screencontainer-2 {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 350px;
  width: 17%;
  padding: 2px;
}

.clr {
    padding: 3%;
    color: black;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.messages-list {
    height: 350px;
    border-radius: 10px;
    border: 2px solid #ced4da;
    border-width: 2px;
    max-height: 350px;
    width: 85%;
    overflow-y: auto;
    padding: 5px;
  }

  .messages-list-depos {
    height: 350px;
    border-radius: 10px;
    border: 2px solid #ced4da;
    border-width: 2px;
    max-height: 350px;
    width: 100%;
    overflow-y: auto;
    padding: 5px;
  }


  .custom-card {
    background-color: transparent; /* Example: a blue background */
    color: black; /* White text */

  }
  

.form-label {
    color: white;
    font-weight: 300;
}

.c-room {
    overflow: auto;
    height: calc(100% - 50px);
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
    color: white;
}

.transfer-reasons {
    border-radius: 0.25rem;
    border-color: #ced4da;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 10px;
  }
  .scroll-wallet::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

.ct {
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

.Incomestyle {
    color: green;
}

.Expensestyle {
    color: darkred;
}

.scroll-wallet {
    overflow: scroll;
    height: 100%;
    width: 100%;
    border: 2px solid #ced4da;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-dimension {
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    bottom: 0;
    width: 80%;
    background: white;
    border-radius: 10px;
}