.fit-container {
    position: relative !important;
    height: 500px;
}

.action-card {
    width: 250px;
    height: 400px;
    background-color: blue;
}

.ic {
    background: blue;
}

.icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: green;
}