.fit-container {
    position: relative !important;
    height: 500px;
}

.addS {
    border: none;
    position: relative;
    width: 100%;
}

.desc {
    width: 80%;
}

.ds {
    position: relative;
}

.action-card {
    width: 250px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.icon-container {
    text-align: center;
}

.icon {
    font-size: 40px; 
    color: #007bff; 
    margin-bottom: 10px;
}

.content .type {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.content .text {
    font-size: 14px;
    color: #666;
}
